* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Risque", serif;
    font-size: 16px;
}

body {
    align-items: center;
    background: darkslategrey;
    color: darkorange;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 2rem;
}

button {
    background: black;
    border: 1px solid black;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    font-family: "Risque", serif;
    font-size: 1.25rem;
    margin-top: 1rem;
    padding: 1rem 0;
    width: 300px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.25rem;
}

#gameBoard {
    background-color: grey;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    margin-bottom: 1rem;
    width: 300px;

    .square {
        border: 1px solid black;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100px;

        &:nth-of-type(1) {
            border-top-left-radius: 1rem;
        }

        &:nth-of-type(3) {
            border-top-right-radius: 1rem;
        }

        &:nth-of-type(7) {
            border-bottom-left-radius: 1rem;
        }

        &:nth-of-type(9) {
            border-bottom-right-radius: 1rem;
        }
    }
}

.player {
    font-size: 4rem;
    position: relative;
}

.Ghost {
    &::before {
        content: "👻";
    }
}

.Pumpkin {
    &::before {
        content: "🎃";
    }
}